transformers
sentence-transformers
bitsandbytes
accelerate
langchain
langchainhub
langchain-chroma
langchain_experimental
langchain-community
langchain_huggingface
python-dotenv
pypdf
streamlit
-i https://download.pytorch.org/whl/cpu
torch >= 1.13.1+cpu